*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    color: #DB921D;
    text-align: justify;
    
}

p{
    color: white;
}

label{
    color: white;
}

.banner{
    background-image: url("../img/banner.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.navbar{
    background-color: rgb(15, 15, 15);
}


.footer{
    background-color: rgb(15, 15, 15);
}
.copyright{
    color: white;
}

