*{
    box-sizing: border-box;
}
body{
    width: 100%;
}

.footer{
    width: 100%;
}
.copyright{
    color: white;
    margin-left: 1em;
}

#beers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .beer {
    flex: 1;
    margin: 10px;
    text-align: center;
  }
  
  .beer img {
    max-width: 40%;
  }